<html>
    <head>
        <title>Pay Now-CraftHive</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
    <center>
        <a href="{{payment_url}}" class="btn btn-success btn-lg my-3 p-3">Pay Now with <img src="/static/shop/instamojo.png" height="50px" width="50px"></a>
    </center>
</body>
</html>

